<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ui5 .Net Core</title>

    <script id='sap-ui-bootstrap'
            src='/resources/sap-ui-core.js'
            data-sap-ui-theme="sap_belize"
            data-sap-ui-libs="sap.m">
    </script>

    <script>
        var page1 = new sap.m.Page({
            showHeader: true,
            title: ".Net Core",
            footer: new sap.m.Bar({})
        });

        var app = new sap.m.App();
        app.initialPage = page1.getId();
        app.addPage(page1);
        app.placeAt('content');
    </script>
    @RenderSection("Scripts", required: false)
</head>
<body id='content' class='sapUiBody'>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
