<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ui5 .Net Core</title>

    <script id='sap-ui-bootstrap'
            src='/resources/sap-ui-core.js'
            data-sap-ui-theme="sap_belize"
            data-sap-ui-compatVersion="edge"
            data-sap-ui-frameOptions="trusted"
            data-sap-ui-preload="sync"
            data-sap-ui-libs="sap.m, sap.ui.table, sap.ui.commons"
            data-sap-ui-resourceroots='{"view": "./ui5/"}'>

    </script>

    <script>
    
        new sap.m.Shell({
            app: new sap.m.App({
                id: 'NetApp',
                pages: [

                ]
            })
            }).placeAt("content");


    </script>

    @RenderSection("Scripts", required: false)
</head>
<body id='content' class='sapUiBody'>
    <div class="container" data-id="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
